h2.highlight{
	text-align:center;
	padding-top:50px;
	margin-bottom: 100px;
}
.location{
	padding-left:100px;
	padding-right:60px;
	height:200px;
	width:500px;
	float:left;
}

.l_logo{
	padding-bottom: 10px;
}
.p1{
	margin-bottom: 150px;
	font-family:Snell Roundhand, cursive;
	font-size:25px;
	color:#2E7DA1;
}

.p2{
	padding-right: 370px;
	padding-left:100px;
	padding-bottom:10px;
	font-family:Snell Roundhand, cursive	;
	font-size:25px;
	color:#2E7DA1;
	float:left;
}
.dining{
	height:200px;
	width:500px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:30px;
}
footer{
	background:#2E7DA1;
	border-top:10px;
	border: 1px solid black ;
	text-align: center;
	margin-left :0; 
	font-size:20px;
}